.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1.6vw;
    margin-bottom: 140px;
    overflow-x: hidden;
}


@media screen and (max-width: 576px){
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}


