.footer__column_top {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #333333; 
}

.footer__column_item {
    text-transform: none;
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.footer__column_item:nth-child(1) {
    margin-top: 16px;
}