.productPrice {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    margin-bottom: 35px;
}

.productPice__numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.numbers__actual {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #333333;
    margin-right: 12px;
}

.numbers__old {
    text-decoration: line-through;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #828282;
}

.productPrice__discounts {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.discounts__discount {
    width: 91px;
    height: 25px;
    border: 1px solid #333;
    margin-right: 10px;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
    color: #333;
}